<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">¡Un alto nivel de experiencia!</h2>
                <hr class="light">
                <p class="text-faded"> La creatividad y la resoluci[on de problemas son mis grandes herramientas</p>
                <a href="#" class="btn btn-default btn-xl">Iniciar!</a>
            </div>
        </div>
    </div>
</section>
